html{
  scroll-behavior:smooth;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("img2.jpg");
 
}


.topnav {
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow: auto;
  border-radius: 5px;
}

.topnav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  background-color: gray;
  color: white;
}

.topnav a.active {
  background-color: gray;
  color: white;
}
.div_start 
{
background-image:url("main.jpg") ;
padding: 150px 16px;
border-radius: 20px;
width:97%;
margin:auto;
margin-bottom:15px;
}
.div_c
{
  padding: 100px 16px;
  background-color: white;
  border-radius: 20px;
  width:97%;
  margin:auto;
  margin-bottom:15px;
  
}
.div_c h1
{
  color:gray;
}
.div_c img
{
float:right;
width:475px;
height:auto;
border-radius: 10px;
margin-left:15px;
}
.div_c a
{
  margin-top:20px;

  padding: 10px 30px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  opacity:0;
  visibility: hidden;
  border-radius: 8px;
}
.div_c:hover a
{
  
  transform: translateY(0);
  opacity:1;
  visibility: visible;
}
.div_c a:hover
{
  color:white;
  background: gray;
}
.div_c2
{
  padding: 100px 16px;
  background-image:url("p1.jpg");
  border-radius: 20px;
   width:97%;
  margin:auto;
  margin-bottom:15px;
  
}
.div_c2 h1
{
  color:gray;
}
.div_c2 img
{
float:left;
width:375px;
height:auto;
border-radius: 10px;
margin-top: -50px;
margin-right:30px;
}
.div_c2 a
{
  margin-top:20px;

  padding: 10px 30px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  opacity:0;
  visibility: hidden;
  border-radius: 8px;
}
.div_c2:hover a
{
  
  transform: translateY(0);
  opacity:1;
  visibility: visible;
}
.div_c2 a:hover
{
  color:white;
  background: gray;
}
.div_c3
{
  padding: 100px 16px;
  background-color: white;
  border-radius: 20px;
  width:97%;
  margin:auto;
  margin-bottom:15px;
  
}
.div_c3 h1
{
  color:gray;
}
.div_c3 img
{
float:right;
width:475px;
height:auto;
border-radius: 10px;
margin-top:-40px;
margin-left:15px;
}
.div_c3 a
{
  margin-top:20px;

  padding: 10px 30px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  opacity:0;
  visibility: hidden;
  border-radius: 8px;
}
.div_c3:hover a
{
  
  transform: translateY(0);
  opacity:1;
  visibility: visible;
}
.div_c3 a:hover
{
  color:white;
  background: gray;
}
.div_c4
{
  padding: 100px 16px;
  background-image:url("p1.jpg");
  border-radius: 20px;
  width:97%;
  margin:auto;
  margin-bottom:15px;
  
}
.div_c4 h1
{
  color:gray;
}
.div_c4 img
{
float:left;
width:375px;
height:auto;
border-radius: 10px;
margin-top: -50px;
margin-right:30px;
}
.div_c4 a
{
  margin-top:20px;

  padding: 10px 30px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  opacity:0;
  visibility: hidden;
  border-radius: 8px;
}
.div_c4:hover a
{
  
  transform: translateY(0);
  opacity:1;
  visibility: visible;
}
.div_c4 a:hover
{
  color:white;
  background: gray;
}

